/*Reszponzivitás, főbb dobozok*/

* {
    box-sizing: border-box;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url("../images/background.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Stratum2"
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container>* {
	height: fit-content;
}

.container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 98%;
    background-color: rgba(30,32,47,0.5);
    margin: 4px;
    border-radius: 10px;
}
.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 98%;
    background-color: rgba(30,32,47,0.5);
    margin: 4px;
    border-radius: 15px;
    width: fit-content;
}

/*Oldalelemek, oldalelemspecifikus osztályok*/

header.header, .header h1 {
    flex: 1 1 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 1.5em;
    color: white;
    background-color: #1e202f;
    font-family: "Stratum2", sans-serif;
}

header.header {
    margin-bottom: 60vh;
}

.header h1 {
    font-size: 1.5em;
    padding-top: 20px;
    font-family: "Stratum2_bold", sans-serif;
}

article {
    flex: 1 1 100%;
    background-color: #1e202f;
    margin: 8px;
    padding: 8px;
    font-size: 1.1em;
    color: #ffffff;
    text-align: justify;
}

article.title {
    border-radius:30px;
    padding: 2px;
}

article.round {
    border-radius:30px;
}

aside {
    flex: 1 1 100%;
    background-color: #1e202f;
    margin: 8px;
    padding: 8px;
    color: #ffffff;
    text-align: center;
    font-size: 0.84em;
    border-radius: 30px;
}

aside.mirage {
    background-image: url("../images/mirage.webp");
    background-size: cover;
}

aside.mirage_call {
    background-image: url("../images/mirage_callouts.jpeg");
    background-size: cover;
}

aside.inferno {
    background-image: url("../images/inferno.png");
    background-size: cover;
}

aside.inferno_call {
    background-image: url("../images/inferno_callouts.png");
    background-size: cover;
}

aside.dust2 {
    background-image: url("../images/dust2.jpeg");
    background-size: cover;
}

aside.dust2_call {
    background-image: url("../images/dust2_callouts.png");
    background-size: cover;
}

aside.nuke {
    background-image: url("../images/nuke.jpeg");
    background-size: cover;
}

aside.nuke_call {
    background-image: url("../images/nuke_callouts.png");
    background-size: cover;
}

aside.s1 {
    background-image: url("../images/tradeup1.jpeg");
    background-size: cover;
    border-radius: 0px;
}

aside.s2 {
    background-image: url("../images/tradeup2.jpg");
    background-size: cover;
    border-radius: 0px;
}

aside.w1 {
    background-image: url("../images/sides.webp");
    background-size: cover;
}

aside.w2 {
    background-image: url("../images/loadouts.jpeg");
    background-size: cover;
}

aside.w3 {
    background-image: url("../images/weapwheel.webp");
    background-size: cover;
}

aside.w4 {
    background-image: url("../images/cs2_shop.webp");
    background-size: cover;
}

aside.w5 {
    background-image: url("../images/smokes.avif");
    background-size: cover;
}

aside.w6 {
    background-image: url("../images/molly.jpeg");
    background-size: cover;
}

aside.weapons {
    border-radius: 12px;
}

footer {
    background-color: #e28214;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    padding: 15px;
    flex-basis: 100%;
}

/*Nav*/

nav {
    padding: 8px;
    flex: 1 1 100%;
    flex-wrap: wrap;   
    font-size: 1.25em;
    font-family: "Stratum2", sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li a {
    display: block;
    padding: 8px;
    margin-bottom: 12px;
    color: white;
    background-color: #1e202f;
    border-radius: 10px;
    border: 2px solid #1e202f;
    text-align: center;
    text-decoration: none;
}

nav ul li a.active {
    background-color: #e28214;
    color: #1e202f;
    border: 2px solid #1e202f;
}

nav li a:hover {
    background-color: #e28214;
    color: #1e202f;
    border: 2px solid #1e202f;
}
/*Egyéb formázások, hozzátartozó osztályok*/

a {
    color:#e28214;
}

a.actual:visited {
    color:rgba(107, 122, 143, 1);
}

button{
    border: #1e202f 2px solid;
    border-radius: 10px;
    color: #1e202f;
    background-color:#5c65a0;
    font-size: 1.2em;
    padding: 0.5em;
}

div.align1 {
    display: flex;
    padding: 1em;
    flex: 1 1 45%;
}

div.table{
    display: flex;
    flex: 1 1 97%;
    flex-wrap: wrap;
}

div.weapons {
    flex-basis: 48%;
}

form {
    display: flex;
    flex: 1 1 100%;
    flex-wrap: wrap;
    text-align: center;
}

h2.article_h {
    text-align: center;
    justify-content: center;
    font-family: "Stratum2_bold";
    font-size: 1.7em;
    border-right: dotted white 2px;
    border-left: dotted white 2px;
}

h2.page_h {
    text-align: center;
    justify-content: center;
    font-family: "Stratum2_bold";
    font-size: 2em;
}

h3 {
    font-family: "Stratum2_bold";
    text-indent: 1.5em;
    font-size: 1.2em;
    margin-bottom: 0;
    margin-top: 40px;
}

hr {
    flex: 1 1 100%;
}

iframe {
    width: 97vw;
    height: 30vh;
}

img.map {
    width: 90%;
    padding: 5px;
    opacity: 0;
}

input.button {
    border: #1e202f 2px solid;
    border-radius: 10px;
    color: #1e202f;
    background-color:#5c65a0;
    font-size: 0.95em;
    padding: 0.4em;
}

p.learn {
    text-align: center;
}

td {
    text-align: center;
    font-size: 0.85em;
    margin: 10px;
    padding: 10px;
}

table.max, td.max{
    width: 100%;
}

video {
    width: 98vw;
}

video.loop {
    width: 40vw;
}

.bold {
    font-family: "Stratum2_bold"
}

.contents {
    padding: 8px;
    text-indent: 1.5em;
}

.copyright {
    font-size: 0.7em;
}

.flexm, .flexmcheck, .flexmtext, .flexplayed {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    margin: 10px;
}

.flexcols {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 100%;
}

.flexright {
    justify-content: flex-start;
}

.head {
    vertical-align: center;
    justify-content: center;
    width: 100%;
}

.lblue {
    background-color:#5c65a0;
}

.marg {
    margin-bottom: 0px;
}

.margtop{
    margin-top: 32px;
}

.mid {
    text-align: center;
    vertical-align: middle;
    height: fit-content;
}

.middle {
    justify-content: center;
    align-items: center;
}

.response {
    align-items: flex-start;
}

@media all and (min-width: 600px) {
    .container2 {
        flex-basis: 48%;
    }
    nav {
        flex-basis: 15%;
    }
    nav.mleft {
        margin-left: 5%;
    }
    nav.mright {
        margin-right: 5%;
    }
    article {
        flex-basis: 98%;
        font-size: 1.2em;
    }
    article.title{
        flex-basis:98%;
        border-radius: 30px;
    }
    article.round {
        flex-basis: 48%;
    }
    aside {
        flex-basis: 22%;
    }
    aside.mirage, aside.mirage_call {
        flex-basis: 22%;
    }
    .header h1 {
        font-size: 2em;
    }
    h2.page_h {
        font-size: 2.8em;
    }
    iframe {
        height: 50vh;
    }
    .copyright {
        font-size: 1em;
    }
    .flexmcheck {
        flex-basis: 50%;
        margin-right: 0;
        margin-left: 0;
    }
    .flexmtext {
        flex-basis: 47%;
        margin: 0 1vw 15px 1vw;
        justify-content: space-around;
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .flexplayed {
        flex-basis: 50%;
        margin: 0;
    }
    .flexcols {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        flex: 1 1 48%;
    }
}

@media all and (min-width: 768px) {
    .container2 {
        flex-basis: 48%;
    }
    nav {
        flex-basis: 15%;
        font-size: 1.5em;
    }
    nav.mleft {
        margin-left: 8%;
    }
    nav.mright {
        margin-right: 8%;
    }
    article {
        flex-basis: 98%;
        font-size: 1.4em;
    }
    article.title{
        flex-basis:98%;
        border-radius: 30px;
    }
    article.round {
        flex-basis: 48%;
    }
    aside {
        flex-basis: 22%;
    }
    aside.mirage, aside.mirage_call {
        flex-basis: 22%;
    }
    .header h1 {
        font-size: 2.5em;
    }
    h2.article_h {
        font-size: 2em;
    }
    h2.page_h {
        font-size: 3.6em;
    }
    iframe {
        height: 70vh;
    }
    .copyright {
        font-size: 1.2em;
    }
    .flexmcheck {
        flex-basis: 25%;
        margin-right: 0;
        margin-left: 0;
    }
    .flexmtext {
        flex-basis: 47%;
        margin: 0 1vw 15px 1vw;
        justify-content: space-around;
        align-content: flex-start;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .flexplayed {
        flex-basis: 50%;
        margin: 0;
    }
}

@font-face {
    font-family: 'Stratum2';
    src: url('../fonts/stratum2.ttf');
}

@font-face {
    font-family: 'Stratum2_bold';
    src: url('../fonts/stratum2_bold.otf');
}

/*Galleria*/

#nuke, #over, #skins, #graphics {
    margin: auto;
    width: 75vw;
    height: 65vw;
}

/*űrlap validation*/

label.error {
    color:#e28214;
    font-size: 0.7em;
}